<% layout("/layouts/boilarplate")%>

    <body>
        <h2>All listing </h2>
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1">
            <% for (let list of AllListing){ %>
                <a href="listing/<%=list.id%>"class="listing-link">
                <div class="card listing-card" style="width: 18rem;" >
                    <img src="<%=list.image%>" class="card-img-top" onerror="this.onerror=null; this.src='https://tse1.mm.bing.net/th?id=OIP.I2tP7f3fn1jxlUePw3vSdAAAAA&pid=Api&P=0&h=220';" alt="Image">
                    <div class="card-img-overlay">$</div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=list.title%>
                        </h5>
                        <h6 class="card-price">&#x20b9;<%=list.price.toLocaleString("en-IN")%>/Night</h6>
                    </div>
                </div>
            </a>
                <% } %>
        </div>
    </body>