.body-all{
        font-family: "Gupter", serif !important;    
}
/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
}
.navfirst{
    width: 100px;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}
.collapse{
    background-color: white;
}
i{
    color: red;
}

.nav-link{
    font: bold;
    color: black !important;
}
/* footer */
footer .icons,.footer-last,.company-name{
        text-align: center !important;
        justify-content: center !important;
}
footer .icons i{
    color: black !important;
}
.footer-contain{
    align-items: center !important;
    justify-content: center !important;
}
.footer-link:hover{
    text-decoration:underline !important;
}
.footer-last a{
    text-decoration: none;
    margin-left: 2px;
    color: black;
}
footer{
    background-color: rgba(57, 57, 56, 0.25);
}

/* card */
.allcard{
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.showimg img{
    border-radius: 1rem !important;
    /* height: 15rem !important; */
    width: 100% !important;
    object-fit: cover !important;
  
}
@media(width>750px){
    .showimg img{
    width: 300px !important;
    height: 300px !important;
   }
}
.heading{
display: flex;
justify-content: center;
}
.innerbox{
    display: flex;
    justify-content: center !important;
}
.listing-card{
    border: none !important;
    margin-bottom: 2rem !important;

}
.card-img-top{
    border-radius: 1rem !important;
    height: 15rem !important;
    width: 100% !important;
    object-fit: cover !important;
    

}
.listing-link{
    text-decoration: none !important;
}
/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
/* new page */
.add-btn{
    color: white !important;
    background-color: rgb(244, 60, 60) !important;
    border: none;
}
.btns{
    display: flex;
    justify-content:space-between;
    
} 

/* review */
.review{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 3%;
}
