<footer>
    <div class="footer-contain">
    <div class="icons">
    <a href="https://www.instagram.com/___piyush_160_/"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.facebook.com/login.php"><i class="fa-brands fa-square-facebook"></i></a>
    <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
</div>
<div class="company-name">
<h6>&copy;wonderlust Praivate Limited</h6>
</div>
<div class="footer-last">
<a href="#"class="footer-link">terms</a>
<a href="#"class="footer-link">privacy</a>
</div>
</div>
</footer>