<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
      <div class="container-fluid">
        <div class="navfirst">
        <a class="navbar-brand" href="/listing"><i class="fa-sharp-duotone fa-solid fa-place-of-worship"></i></i></a>
        <a class="nav-link " aria-current="page" href="/listing">Explore</a>
      </div>
         <div class="toggler ms-3">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link active" aria-current="page" href="/listing/new">Add New Listing</a>
            <li class="nav-item">
              <%if(!currUser){%>
              <a class="nav-link active" aria-current="page" href="/signup">Sign Up </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/login">Login</a>
            </li>
            <%}%>
            <%if(currUser){%>
            <li class="nav-item">
              <a class="nav-link" href="/logout">logout</a>
            </li>
            <%}%>
          </div>
        </div>
      </div>

  </nav>
