<% layout("/layouts/boilarplate")%>

<div class="row mt-3">
    <div class="col-6 offset-3">
        <form action="/login" method="POST" class="needs-validation" novalidate>
            <h2 class="offset-3">Login on Wonderlust</h2>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="Username" required/>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            
            <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input type="password" name="password" class="form-control" id="password" required/>
            </div>
            <button class="btn btn-success mb-3">Login</button>
        </form>
        <br><br><br><br><br>
    </div>
</div>